<button class="btn btn-info" (click)= "showP1 = !showP1 ">Display Details</button>
<br>
<p *ngIf="showP1">Video provides a powerful way to help you prove your point. When you click Online Video, you can paste in the embed code for the video you want to add. You can also type a keyword to search online for the video that best fits your document.
To make your document look professionally produced, You can collapse parts of the document and focus on the text you want. If you need to stop reading before you reach the end, Word remembers where you left off - even on another device.
</p>
<hr>

<button class="btn btn-info" (click)= "onToggle()">Display Details</button>
<br>
<p *ngIf="showP">Video provides a powerful way to help you prove your point, You can collapse parts of the document and focus on the text you want. If you need to stop reading before you reach the end, Word remembers where you left off - even on another device.
</p>
<div *ngFor="let logItem of log" 
[ngStyle] ="{backgroundColor : logItem >= 5 ? 'blue' : 'transparent'} "
[ngClass] ="{'white-text' : logItem >= 5}"> {{ logItem }}</div>
