<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2> geting data from input </h2>
      <input type="text" [(ngModel)]="name">
      <p>{{name}} </p>

      <hr>
      <hr>
      <div class="container">
        <app-cokpit></app-cokpit>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <app-server-element *ngFor="let serverElement of ServerElements"></app-server-element>
          </div>
        </div>
      </div>

      <hr>
      <h2> working with components </h2>
      <app-server></app-server>
      <hr>
      <app-data-binding></app-data-binding>
      <hr>
      <!-- <app-ng-style></app-ng-style> -->
      <hr>
      <app-assignment></app-assignment>

    </div>
  </div>
</div>